html {

}

body{
    background-color: #dfeffc;
}

.form-group{
    width: 100%;
    margin: auto;
}

#insert-group{
    float: left;
    height: 25px;
    padding: 3px 3px 3px 5px;
    border-radius: 5px 0px 0px 5px;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #eeeeee;
    border-left: 2px solid #999999;
    background: linear-gradient(#dfeffc, #eff7fd);
}

#textbox{
    border-radius: 5px 5px 5px 5px;
}

#delete-group{
    float: left;
    height: 25px;
    padding: 3px 5px 3px 3px;
    border-radius: 0px 5px 5px 0px;
    border-top: 2px solid #999999;
    border-right: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    background: linear-gradient(#dfeffc, #eff7fd);
}

.alert-success{
    position: relative;
	float: left;
    margin: 5px 0px 0px 5px;
    padding: 0px 5px 0px 5px;
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
	background-color: #99ff99;
}

.help-block{
    position: relative;
	float: left;
    margin: 5px 0px 0px 5px;
    padding: 0px 5px 0px 5px;
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
	background-color: #ff9999;
}