.form-group{
	width: 80%;
	height: 100px;
	background: aqua;
	margin: auto;
	padding: 10px;
}

#insert-group{
	width: 15%;
	height: 100px;
	background: red;
	float: left;
}

#delete-group{
	margin-left: 15%;
	height: 100px;
	background: black;
}